/* body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #333;
}

#ingredient-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

#ingredient-list label {
    display: flex;
    align-items: center;
    gap: 5px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

#selected-ingredients {
    margin: 10px 0;
    font-size: 16px;
}

#recipes {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    
}

.recipe {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

.recipe img {
    width: 100%;
    border-radius: 8px;
}

.recipe a {
    color: #007bff;
    text-decoration: none;
}

.recipe a:hover {
    text-decoration: underline;
} */

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Cinzel:wght@400..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    padding-left: 7em;
    padding-right: 7em;
    background-color: #D8BFD8 /*#DDA0DD*/;
    font-size: 12px;
}

h1{
    font-family: "Cinzel", serif;
    font-size: 4em;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

h2{
    font-family: "Mulish", sans-serif;
    font-size: 2em;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-bottom: 0.5em;
}

label{
    font-family: "Mulish", sans-serif;
    font-size: 1.5em;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

p{

}

.veggies{
    background: rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0.43);
    padding: 2em;
    margin: 2em;
}

.meat-seafood{
    background: rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0.43);
    padding: 2em;
    margin: 2em;
}

.dairy{
    background: rgba(0, 0, 0, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0.43);
    padding: 2em;
    margin: 2em;
}